<!DOCTYPE html>
<html lang="en">
<head>
	{{> head}}
</head>
<body>
<div class="container">
	{{component 'Example'}}
	{{component 'Example' 'example-blue' }}
	{{component 'Breadcrumb'}}
</div>
{{> foot}}
</body>
</html>
