// -----------------------------------------
// Helper
// -----------------------------------------
.ellipsis() {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
